{% extends './base.html' %}
{% load static %}


{% block title %}Admin - Student{% endblock %}

{% block bodyclass %}
    <body id="students" onload="changeActive(this.id)">
{% endblock %}

{% block content %}
<div class="studentlabel">
    <p>Search Students</p>
</div>
<div class="searchstudent">
    <input type="text" name="sname" id="sname" placeholder="Student Name">
    <select name="Branch" class=branch>
        <option value="-1" selected>Branch</option>
       <option value="ce">Computer</option>
       <option value="it">Information Technology</option>
       <option value="me">Mechanical</option>
   </select>
   <select name="sem" class=sem>
    <option value="-1" selected>Sem</option>
   <option value="I">I</option>
   <option value="II">II</option>
   <option value="III">III</option>
</select>
<input type="submit" name="search" id="search" value="Search">
<input type="submit" name="assign" id="assign" value="Assign Courses" onclick="on()">

</div>
<div class="datasection_student">
    <table id="student_list1" border="1">
        <tr>
            <td>Name</td>
            <td>Enrollment No</td>
            <td>Branch</td>
            <td>Sem</td>
            <td>Actions</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td><a href="url">View</a></td>
        </tr>
    </table>

</div>
<div class="pendingacc_student">  
    <div id="head">
        <h3>Pending Accounts</h3>
    </div>
    <table id="student_list2">
        <tr>
            <td>Student 1</td>
        </tr>
        <tr>
            <td>Student 2</td>
        </tr>
        <tr>
            <td>Student 3</td>
        </tr>
    </table>
</div>

{% endblock %}