{% extends './base.html' %}
{% load static %}
{% block title %}Staff Registration{% endblock %}
{% block content %}
<div class ="form">
    <h2>Staff Registration</h2>
    <hr>
<form action="." method="POST"> {% csrf_token %}
    <table>
        {% for field in form %}
        <tr>
        <td class="label">
            {{ field.label }}
        </td>
        <td class="field">
            {{ field }}
        </td>
    </tr>

        {% endfor %}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Register"/>
            </td>
        </tr>
    </table>
</div>
</form>
</br>
<div class="footer">
    <hr>
        Purvesh Gandhi & Ronak Kanthariya
</div>

{% endblock %}  