{% extends './base.html' %}
{% load static %}

{% block title %}Student Registration{% endblock %}

{% block content %}
<div class="reg_page">
    <div class="form">
    <h2>Student Registration</h2>
    <hr/>

    <form action="." method="POST"> {% csrf_token %}
    <table>
        {% for field in form %}
        <tr>
            <td class="label">
                {{ field.label }}
            </td>
            <td class="field">
                {{ field }}
            </td>
        </tr>
        {% endfor %}

        <tr>
            <td></td>
            <td>
                <input type="submit" value="Register"/>
            </td>
        </tr>
    </table>
    </form>
</div>

</br>
<div class="footer">
    <hr>
        Purvesh Gandhi & Ronak Kanthariya
</div>
</div>
{% endblock %}  