.register {
    text-align: center;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    border-radius: 3px;
    width: max-content;
    padding: 50px;
    border: 1px rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.30);
    font-family: Arial, Helvetica, sans-serif;
}

.register p {
    margin-bottom: 5%;
    font-size: 26px; 
}
.register input[type=button]{
    border-radius: 4px;
    background-color: rgb(19, 15, 235);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 45%;
    height: auto;
    cursor: pointer;
    margin: 5px;
}

.register input[type=button]:hover {
    background-color:  rgb(12, 10, 102);
}

.register input[type=button]:active{
    background-color: rgb(19, 15, 235);
}

.footer {
    width: 100%;
    background-color: whitesmoke;
    float: right;
    margin-top: 50px;
    margin-bottom: 30px;
    border-top: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(202, 189, 189);
}

.footer p {
    text-align: center;
    margin-top: 15px;
}