{% load static %}
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="header">
            <a href="{{ '../login' }}"><img src="{% static 'ganpat_logo.png' %}" alt="My image" class="top-logo"></a>
            <div class="navbar">
                {% include './navbar.html' %}
            </div>
        </div>

        <div class='main'>
                <div class="login">
                    <div id="head">
                        <h3>Login</h3>
                    </div>
                    <form action="." method="POST" class="login-form"> {% csrf_token %}
                        <div class="container">
                            <label for="user">Username:</label></br>
                            <input type="text" id="user" placeholder="Enter your username..."/></br>
                        </div>
                        <div class="container">
                            <label for="passwd">Password:</label></br>
                            <input type= "password" id="passwd" placeholder="Enter your password..."></br>
                        </div>
                        <input type="submit" value="Login" id="btn" style="margin-top: 15px;"/>
                    </form>
                    <p style="text-align: center;">New User?</p>
                    <input type="submit" value="Sign Up" id="btn" style="margin-top: 15px;"/>
                </div>

                <div class="announcements">
                    <div id="head">
                        <h3>Announcements</h3>
                        </table>
                    </div>
                    <table id="announcements_table">
                        <tr>
                            <td>Announcement 1</td>
                        </tr>
                        <tr>
                            <td>Announcement 2</td>
                        </tr>
                        <tr>
                            <td>Announcement 3</td>
                        </tr>
                    </table>
                </div>
            </div>
        </br>
        <div class="footer">
            <p>
                Purvesh Gandhi & Ronak Kanthariya
            </p>
        </div>
    </body>
</html>