{% extends './base.html'%}

{% block content %}

<div class="form-wrap">
<form action="#" name="StaffRegistration" onsubmit="return(validate());">
    
	
        <h1>Staff Registration</h1>
        <hr>
        <label>Full Name:</label>
        <input type=text name=fnames id="fname"><br>
        <label>D.O.B:</label>
        <input type="date" name="dob" id="dob"><br>
        <label>Gender:</label>
        <input type="radio" name="Gender" value="Male">Male
        <input type="radio" name="Gender" value="Female">Female
        <input type="radio" name="Gender" value="other">Other<br>
        <label>Username:</label>
        <input type="text" name="uname" id="uname" size="30"><br>
        <label>Password:</label>
        <input type="password" name="pswd" id="pswd" size="30"><br>
        <label>Re-Password:</label>
        <input type="password" name="rpswd" id="rpswd" size="30"><br>
        <label>Email:</label>
        <input type="text" name="email" id="email" size="30"><br>
        <label>Mobile:</label>
        <input type="text" name="mobile" id="mobile" size="30"><br>
        <label>Name of College:</label>
        <select name="College">
            <option value="-1" selected>Select</option>
           <option value="Uvpce">UVPCE</option>
           <option value="Bspp">BSPP</option>
           <option value="Mba">MBA</option>
       </select>
		<br>
        <label>Branch:</label>
        <select name="Course">
			<option value="-1" selected>Select</option>
			<option value="B.Tech">B.TECH</option>
			<option value="MCA">MCA</option>
			<option value="MBA">MBA</option>
			<option value="BCA">BCA</option><br>
        </select>
        <br>
        <label>Your Role:</label>
        <select name="Role">
			<option value="-1" selected>Select</option>
			<option value="Student">STUDENT</option>
			<option value="Faculty">FACULTY</option>
			<option value="Non-Faculty">NON-FACULTY</option>
        </select>
        
           <br>
            <input type="submit" value="Register" />
</form>
</div>
<div class="footer">
    <hr>
    <p>Ronak Kanthariya & Purvesh Gandhi</p>
</div>

{%endblock%}