{% extends './base.html'%}

{% block content %}

<div class="form-wrap1">
<form action="#" name="StudentRegistration" onsubmit="return(validate());">
    
	
        <h1>Student Registration</h1>
        <hr>
        <label>Enrollment Number:</label>
        <input type=number name=eno id="eno" min="18012011001" max="18012011200"
        style="width: 244px; 
        margin-bottom:15px; 
        height:15px;
        font-size:15px;
        padding:4px;" required><br>

        <label>Full Name:</label>
        <input type=text name=fnames id="fname" required><br>

        <label>D.O.B:</label>
        <input type="date" name="dob" id="dob" required><br>

        <label>Gender:</label>
        <input id="male " type="radio" name="Gender" value="Male" required>Male
        <input id="female" type="radio" name="Gender" value="Female" required>Female
        <input id="other "type="radio" name="Gender" value="other"required>Other<br>

        <label>Username:</label>
        <input type="text" name="uname" id="uname" size="30" required pattern="[a-zA-Z0-9]{9}"><br>


        <label>Password:</label>
        <input type="password" name="pswd" id="pswd" size="30"
         pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required><br>
    

        <label>Re-Password:</label>
        <input type="password" name="rpswd" id="rpswd" size="30" required><br>

        <label>Email:</label>
        <input type="email" name="email" id="email" size="30" pattern=".+@gnu.ac.in" 
        style="margin-bottom: 15px;
        height:25px;
        width:252px;"required><br>

        <label>Mobile:</label>
        <input type="text" name="mobile" id="mobile" size="30" maxlength="10" required><br>

        <label>Name of College:</label>
        <select name="College">
            <option value="-1" selected>Select</option>
           <option value="Uvpce">UVPCE</option>
           <option value="Bspp">BSPP</option>
           <option value="Mba">MBA</option>
       </select>
		<br>
        <label>Branch:</label>
        <select name="branch">
			<option value="-1" selected>Select</option>
			<option value="B.Tech">B.TECH</option>
			<option value="MCA">MCA</option>
			<option value="MBA">MBA</option>
			<option value="BCA">BCA</option><br>
        </select>
        <br>
        <label>Semester:</label>
        <select name="Sem">
			<option value="-1" selected>Select</option>
			<option value="Student">I</option>
			<option value="Faculty">II</option>
			<option value="Non-Faculty">III</option>
        </select>
        
           <br>
            <input type="submit" value="Register" />
</form>
</div>
<div class="footer">
    <hr>
    <p>Ronak Kanthariya & Purvesh Gandhi</p>
</div>

{%endblock%}